:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* TODO: main section layout */
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

div, ul {
  border: 1px solid;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: lightblue;
  display: grid;
  gap: 4rem;
  align-content: start;
}

.sidebar nav {
  display: grid;
  gap: 4rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-content: start;
}

.projects {
  grid-row: 1 / 3;
  /* height: 800px; */
}

.announcements {
  width: 200px;
  height: 400px;
}

.trending {
  height: 300px;
}