:root {
  box-sizing: border-box;
  font-size: 62.5%;
  --sidebar-background: #f43f5e;
  --sidebar-font: white;
  --header-button: #f43f5e;
  --search-bar: #fff1f2;
  --main-background: #fff1f2;
  --project-background: white;
  --project-stripe: #f0b429;
  --trending-background: white;
  --announcements-background: white;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* TODO: header styling */
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
}

div, ul {
  /* border: 1px solid; */
}

.sidebar {
  grid-row: 1 / 3;
  background-color: #f43f5e;
  display: grid;
  gap: 4rem;
  align-content: start;
  color: var(--sidebar-font);
  font-weight: bold;
  font-size: 1.6rem;
}

.branding,
.nav li {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
}

.branding {
  font-size: 2.2rem;
  gap: 1rem;
  padding: 1.2rem 0 0 1.2rem;
}

.nav {
  display: grid;
  gap: 5rem;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 2rem;
}

.icon {
  width: 20px;
}

.sidebar .icon {
  filter: invert(100%) sepia(5%) saturate(21%) hue-rotate(225deg) brightness(107%) contrast(105%);
}

.nav .icon {
  margin: 0 2rem;
}

.branding .logo {
  width: 40px;
}

.header {
  display: grid;
  /* grid-template-columns: 1fr auto; */
  padding: 1.2rem 3.2rem;
}

.header-up {
  display: grid;
  grid-template-columns: 1fr auto;
  /* grid-auto-flow: column; */
  gap: 8rem;
  align-items: center;
  /* justify-content: space-between; */
}

.search {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: auto 1fr;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}

.search label {
  display: grid;
  align-items: center;
}

.search img {
  /* height: 60%;
  width: auto; */
}

.search-bar {
  background-color: var(--search-bar);
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  height: 2.8rem;
  padding: 0 1.2rem;
  max-width: 600px;
}

/* .search-bar::-webkit-search-cancel-button {
  position: relative;
  right: 5px;
} */

.header-up-right {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 2.2rem;
  margin-right: 2.6rem;
  align-items: center;
  /* min-width: 30%; */
  /* justify-content: end; */
}

.current-user-info {
  display: grid;
  grid-auto-flow: column;
  gap: 2.2rem;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.current-user-icon {
  width: 40px;
  /* height: 40px; */
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-content: start;
  background-color: var(--main-background);
}

.projects {
  grid-row: 1 / 3;
  /* display: grid;
  grid-template-rows: auto 1fr; */
}

.announcements {
  /* width: 200px; */
  height: 400px;
}

.announcements-container {
  background-color: var(--announcements-background);
}

.trending {
  /* height: 300px; */
}

.trending-items-container {
  background-color: var(--trending-background);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.project {
  height: 200px;
  background-color: var(--project-background);
}

.share {
  transform: rotate(-90deg);
}